<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DayTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78ABF81A1ED31D8900AA58C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78ABF8331ED31D8900AA58C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78ABF83E1ED31D8900AA58C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
